.list-action {
    list-style: none;
}

.list-action li {
    float: left;
    padding-right: 10px;
}

.modal-sm {
    width: 500px;
}

.edit_form>.form-group {
    margin-bottom: 10px;
}

.modal-body .form-horizontal .col-sm-3,
.modal-body .form-horizontal .col-sm-9 {
    width: 100%
}